<h1> <%= @user.username %> </h1>

<p> This user is <%= @user.username %> </p>

<%= link_to "Back to user!", users_path%>
<%= link_to "Delete this User!", user_path, method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %>